.banner {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.banner-content {
  padding: 150px 50px;
  position: relative;
  z-index: 2;
  max-width: 550px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.banner-description {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 20px;
  max-width: 500px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.banner-buttons {
  display: flex;
  gap: 10px;
}

.banner-button {
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
}

.banner-button {
  background: #fff;
  color: #000;
}

.banner-button:hover {
  background: rgba(255,255,255,0.75);
}

.banner-button-info {
  background: rgba(109, 109, 110, 0.7);
  color: #fff;
}

.banner-button-info:hover {
  background: rgba(109, 109, 110, 0.4);
}

.banner-fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.61),
    #141414
  );
}
