.my-list {
  padding-top: 100px;
  min-height: 100vh;
}

.my-list h1 {
  padding: 20px 50px;
  font-size: 2.5rem;
  font-weight: 700;
}

.empty-message {
  text-align: center;
  font-size: 1.5rem;
  color: #737373;
  margin-top: 100px;
}
